{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo de Mensagem WhatsApp</title>
    <link rel="stylesheet" href="{% static 'cadastros/css/detalhe_mensagem_cadastrada.css' %}">
</head>
<body>
    {% include 'menu_header.html' %}
    <div class="container-detalhes">
        <h1>Detalhes da Mensagem</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Renderiza o formulário automaticamente com os campos preenchidos -->
            <button type="submit" class="btn-salvar">Salvar Alterações</button>
        </form>
        <a href="{% url 'lista_mensagens' %}">
            <button class="btn-voltar">Voltar à Lista</button>
        </a>
    </div>
</body>
</html>
