

<!-- Tabela de Contatos -->
<div class="container-div">
    <p class="list-contacts-title"><strong>LISTA DE CONTATOS</strong></p>
  </div>
<div class="table-container">
    <table class="contacts-table">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th> <!-- Checkbox para selecionar todos -->
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Empresa</th>
                <th>Status</th>
                <th>Criado em:</th>
            </tr>
        </thead>
        <tbody>
            {% for contato in contato %}
            <tr>
                <td><input type="checkbox" name="selected_contacts" value="{{ contato.id }}" class="contact-checkbox"></td> <!-- Checkbox individual -->
                <td>{{ contato.id }}</td>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.telefone_formatado }}</td>
                <td>{{ contato.email }}</td>
                <td>{{ contato.empresa }}</td>
                <td>{{ contato.status }}</td>
                <td>{{ contato.data_criacao|date:"d/m/Y H:i"}}</td>
                <td>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    {% comment %} <button type="submit" class="submit-btn">Realizar Ação</button> <!-- Botão para enviar contatos selecionados --> {% endcomment %}
    
 