/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 20px;
}

.containerCampanhaEnviarMensagem {
    display: flex;
    width: 90%;
    gap: 50px;
    padding: 20px;
    height: 80%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin-top: 1%;
    margin-left: 2%;
}


/* Estilo da barra lateral de contatos */
.group-contacts {
    width: 20%;
    
}

.group-contacts h3 {
    font-size: 18px;
    color: #333;
    
}


.search-bar input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
    background-color: #f6f7f9;
}

.contacts-list ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    
    
}

.listaContatosEnviarMensagem {
    overflow-y: scroll;
    height: 350px;
}


.contacts-list li {
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size: 14px;
}

.icon {
    margin-right: 8px;
}

.btn-add-group {
    width: 100%;
    padding: 10px;
    background-color: #585ce5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo da seção de mensagem */
.message-section {
    flex-grow: 2;
    margin: 2%;
}

.group-contacts {
    flex-grow: 1;
    margin: 2%;
}

.message-section h3 {
    font-size: 18px;
    color: #333;
}

.form-group {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 15px;
<<<<<<< HEAD
    
=======
}

.box_multiple_contacts {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 15px;
    height: 200px;
>>>>>>> 829be17 (Versão CRM GETHOS 1.3 - COM REST API)
}

.grupoContato {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
    
}

.grupoTexto {
    display: grid;
    width: 100%;
    
}


.form-group label {
    font-size: 16px;
    color: #666;
    display: block;
    
}

.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 150px;
    resize: none;
}

/* Estilo dos botões */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.btn-edit-message, .btn-edit-contacts {
    padding: 10px 20px;
    background-color: #585ce5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit-message:hover, .btn-edit-contacts:hover {
    background-color: #4044d1;
}
<<<<<<< HEAD
=======


.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
>>>>>>> 829be17 (Versão CRM GETHOS 1.3 - COM REST API)
