{% load static %}

<!-- taskmanager/templates/taskmanager/board.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadro de Tarefas</title>
    <link rel="stylesheet" href="{% static 'processos/css/fluxo_captacao.css' %}">
</head>
<body>
    {% include 'menu_header.html' %}
    <div class="board">
        <div class="column">
            <h2>A Fazer</h2>
            <a href="{% url 'add_etapa' %}">Adicionar Tarefa</a>
            {% for etapa in fluxo_a_fazer %}
                <div class="card">
                    <h3>{{ etapa_titulo }}</h3>
                    <p>{{ etapa_descricao }}</p>
                    <a href="{% url 'edit_etapa' etapa.id %}">Editar</a>
                    <a href="{% url 'delete_etapa' etapa.id %}">Deletar</a>
                </div>
            {% endfor %}
        </div>

        <div class="column">
            <h2>Em Andamento</h2>
            {% for etapa in fluxo_progresso %}
                <div class="card">
                    <h3>{{ etapa.titulo }}</h3>
                    <p>{{ etapa.descricao }}</p>
                    <a href="{% url 'edit_etapa' etapa.id %}">Editar</a>
                    <a href="{% url 'delete_etapa' etapa.id %}">Deletar</a>
                </div>
            {% endfor %}
        </div>

        <div class="column">
            <h2>Concluído</h2>
            {% for etapa in fluxo_concluido %}
                <div class="card">
                    <h3>{{ etapa.titulo }}</h3>
                    <p>{{ etapa.descricao }}</p>
                    <a href="{% url 'edit_etapa' etapa.id %}">Editar</a>
                    <a href="{% url 'delete_etapa' etapa.id %}">Deletar</a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% comment %} <script src="{% static 'js/scripts.js' %}"></script> {% endcomment %}
</body>
</html>
