<!-- gethos_home/templates/gethos_home/home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Gethos CRM</title>
    <link rel="stylesheet" href="{% static 'gethos_home/css/home.css' %}">
    <link rel="icon" href="{% static 'gethos_home/img/icon_gethos.png' %}" type="image/png">
</head>
<body>
    <div class="login-container">
        <div class="image-container">
            <img id="carousel-image"  class="img-gethos-home" src="{% static 'gethos_home/img/gethosImg-login.png' %}" alt="Background Image">
            <img id="carousel-image"  class="img-gethos-home" src="{% static 'gethos_home/img/1.png' %}" alt="Background Image">
        </div>
        <div class="login-form-container">
            <h2>Bem-vindo ao Gethos CRM</h2>
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="input-group">
                    <label for="email">Insira seu e-mail</label>
                    <input type="email" id="email" name="email" placeholder="exemplo@gmail.com" required>
                </div>
                <div class="input-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" placeholder="senha de acesso" required>
                </div>
                <a href="https://wa.me/5582991326715" class="forgot-password">Esqueceu a senha? Solicite uma nova senha</a>
                <button type="submit" class="btn-signin">Acessar</button>
            </form>
            <!-- Exibe mensagens de erro ou sucesso -->
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <p>Ainda não tem uma conta? Fale com a equipe Gethos e crie a sua agora mesmo!<br>
                <a href="https://wa.me/5582991326715">Criar meu acesso ao CRM Gethos</a>
            </p>
        </div>
    </div>
<script>
        const imageElement = document.getElementById("carousel-image");
        const imageList = [
            "{% static 'gethos_home/img/gethosImg-login.png' %}",
            "{% static 'gethos_home/img/1.png' %}",

        ];
        let currentIndex = 0;
    
        setInterval(() => {
            imageElement.classList.add("fade");
            setTimeout(() => {
                currentIndex = (currentIndex + 1) % imageList.length;
                imageElement.src = imageList[currentIndex];
                imageElement.classList.remove("fade");
            }, 300);
        }, 3000);
</script>
</body>
</html>